{% extends layoutTemplate %}

{% if showLabels is not defined %}
    {% set showLabels = false %}
{% endif %}

{% block title %}Forgot Password{% endblock %}

{% block page_title %}Forgot your password?{% endblock %}

{% block content %}
    {{ flashMessagesPartial('dot-partial::alerts') }}

    <p><b>Please enter the email address associated with your account</b></p>

    {% set dummy = form.setAttribute('method', 'post') %}
    {% set dummy = form.prepare() %}

    {{ form().openTag(form) | raw }}
    {% include '@dot-form/form.html.twig' with {'form' : form, 'showLabels' : showLabels} only %}
    {{ form().closeTag() | raw }}
{% endblock %}