{% extends '@layout/default.html.twig' %}

{% if showLabels is not defined %}
    {% set showLabels = false %}
{% endif %}

{% block title %}Reset Password{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-5 col-md-offset-3">

            <h3>Reset account password</h3>

            {{ flashMessagesPartial('dot-partial::alerts') }}

            {% set dummy = form.setAttribute('method', 'post') %}
            {% set dummy = form.prepare() %}

            {{ form().openTag(form) | raw }}
            {% include '@dot-form/form.html.twig' with {'form' : form, 'showLabels' : showLabels} only %}
            {{ form().closeTag() | raw }}

        </div>
    </div>

{% endblock %}